<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create New Post</title>
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div class="container">
    <h1>Create New Post</h1>
    <!-- 게시글 작성 폼 -->
    <form th:action="@{/posts/newPost}" th:object="${postDTO}" method="post" enctype="multipart/form-data" id="postForm">
        <!-- 제목 -->
        <div><label>Title: <input type="text" th:field="*{title}" id="titleInput"/></label></div>
        <!-- 내용 -->
        <div><label>Content: <textarea th:field="*{content}" id="contentInput"></textarea></label></div>
        <!-- 이미지 첨부 -->
        <div class="inputBox"><h3>File:</h3> <input type="file" id="imageInput" name="images" multiple> </div>
        <div><input type="button" value="Submit" id="submitButton"/></div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submitButton').on('click', function (event) {
            event.preventDefault(); // 기본 제출 이벤트 방지

            var formData = new FormData($('#postForm')[0]);
            var files = $('#imageInput')[0].files;
            for (var i = 0; i < files.length; i++) {
                formData.append('images', files[i]);
            }

            $.ajax({
                type: 'POST',
                url: '/posts/newPost',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    console.log('게시물 등록 성공');
                    window.location.href = '/posts';
                },
                error: function(xhr, status, error) {
                    console.error('게시물 등록 실패');
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>
</body>
</html>