<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div class="container">
    <h1>Posts</h1>
    <a th:href="@{/posts/new}" class="btn">Create New Post</a>
    <ul>
        <li th:each="post : ${posts}">
            <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post Title</a>
        </li>
    </ul>

    <!-- 페이징 링크 -->
<!--    <div th:if="${pagingResponseDTO.pageInfo != null}">-->
<!--        <ul class="pagination">-->
<!--            <li th:if="${pagingResponseDTO.pageInfo.prev}" class="page-item">-->
<!--                <a class="page-link" th:href="@{/post(currentPage=${pagingResponseDTO.pageInfo.cri.pageNum - 1})}">&laquo;</a>-->
<!--            </li>-->
<!--            <li th:each="page, index : ${#numbers.sequence(pagingResponseDTO.pageInfo.pageStart, pageInfo.pageEnd)}" class="page-item">-->
<!--                <a class="page-link" th:href="@{/post(currentPage=${page})}" th:text="${page}"></a>-->
<!--            </li>-->
<!--            <li th:if="${pagingResponseDTO.pageInfo.next}" class="page-item">-->
<!--                <a class="page-link" th:href="@{/post(currentPage=${pagingResponseDTO.pageInfo.cri.pageNum + 1})}">&raquo;</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</div>
</body>
</html>
