<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div class="container">
    <h1>Sign Up</h1>
    <form id="signupForm" th:action="@{/signup}" method="post">
        <div><label>Username: <input type="text" name="username" id="username" autocomplete="off"/></label></div>
        <div class="showDuplicated"></div>
        <div><label>Password: <input type="password" name="password" autocomplete="on"/></label></div>
        <div><input type="submit" value="Register"/></div>
    </form>
</div>
<script th:inline="javascript">
    const usernameInput = document.querySelector("#username");
    const showDuplicated = document.querySelector(".showDuplicated");

    usernameInput.onblur = () => {
        let tmpid = usernameInput.value;

        const httpRequest = new XMLHttpRequest();

        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === 4 && httpRequest.status === 200) {
                const response = httpRequest.responseText;
                showDuplicated.innerHTML = `<span>${tmpid} is ${response === "true" ? "invalid!" : "valid"}</span>`;
            }
        };

        httpRequest.open("POST", "/signup/checkUsername", true);
        httpRequest.setRequestHeader("Content-Type", "application/json");
        httpRequest.send(JSON.stringify({ username: tmpid }));
    };
</script>
</body>
</html>
